{% extends 'layout.html' %} {% block body %}
<div class="fundo-cinza-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid fundo-branco-borda-arredondada">
        <div class="row margin-row-interna">
          <div class="col-xl-6">
            <form class="card shadow my-4" id="form">
              <div class="card-body">
                <h2 class="card-title">Clientes na loja</h2>
              </div>
            </form>
          </div>
          <div class="col-xl-12">
            <div class="card shadow my-4">
              <div class="card-body">
                <p id="resultado"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    "use strict";

    $("#form").validate({
      rules: {},
      submitHandler: function () {
        atualizarDados();
      },
    });

    async function atualizarDados() {
      //waitSwal();

      try {

        const response = await fetch(
          `/obterFluxoAtual`
        );

        if (!response.ok) {
          await exibirErro(response);
          return;
        }

        Swal.close();
        const dados = await response.json();
        
        const e = document.getElementById("resultado");
        
        e.innerHTML = `Resultado: ${JSON.stringify(dados)} clientes `;

        setTimeout(atualizarDados, 1000);

        
      } catch (ex) {
        Swal.fire("Erro", "Erro ao carregar o gráfico: " + ex.message, "error");
      }
    }

    atualizarDados();
  </script>

{% endblock %}
</div>
