{% extends 'layout.html' %}

{% block head %}
<!-- Babylon.js -->
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
<script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>

<style type="text/css">
    #canvasZone {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 400px;
        height: 60vh;
    }

    #renderCanvas {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        user-select: none;
        touch-action: none;
    }
</style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-xl-12">
        <div class="card shadow my-4">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="col-sm-6">
                        <div class="card shadow my-4">
                            <div class="card-body">
                                <p id="resultado" class="GdsNums alinhaStart"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="canvasZone"><canvas id="renderCanvas"></canvas></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- BabylonJS - Controle das portas -->
<script type="text/javascript">
    "use strict";

    let canvas = document.getElementById("renderCanvas");
    let engine = null;
    let scene = null;

    let portaModelos = {
        1: { aberta: null, fechada: null, abertaAtiva: false },
        2: { aberta: null, fechada: null, abertaAtiva: false },
        3: { aberta: null, fechada: null, abertaAtiva: false },
    };
    let pessoaModelos = {
        1: { mesh: null, visivel: false },
        2: { mesh: null, visivel: false },
        3: { mesh: null, visivel: false }
    };

    async function atualizarDadosGeral() {

    try {
      let response = await fetch("/atualizarBanco");
      if (response.ok) {
          Swal.close();
        } else {
            Swal.fire("Erro", "Erro ao listar os dados: " + "ao atualizar", "error")
        } 
        
    } catch (ex) {
        Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
    }
}

async function carregarModelo(path, scene) {
    const result = await BABYLON.SceneLoader.ImportMeshAsync("", "/static/glb/", path, scene);
    return result.meshes[0];
}

async function createScene() {
    scene = new BABYLON.Scene(engine);
    
    const hdrTexture = BABYLON.CubeTexture.CreateFromPrefilteredData("/static/glb/environment.dds", scene);
    scene.createDefaultSkybox(hdrTexture, true);
    
    scene.createDefaultCameraOrLight(true, true, true);
    const camera = scene.activeCamera;
    //camera.alpha = Math.PI / 2;
    camera.alpha = 5.315714326451141;
    camera.beta = 1.188337079465186;
    camera.radius = 6.99621204442228;
    camera.target.x = -1;
    
    
    // criacao da luz (vector 3 = posicao)
    //const luz = new BABYLON.HemisphericLight("hemiLight", new BABYLON.Vector3(0, 1, 0), scene); 
    //luz.intensity = 0.9;
    //luz.diffuse = new BABYLON.Color3(1, 1, 1); // cor da luz
    
    //fundo
    scene.clearColor = new BABYLON.Color4(); 
    scene.clearColor = BABYLON.Color4.FromHexString("#87CEEB");
    
    
    
    // modelo loja
    await carregarModelo("Loja.glb", scene);
    
    
    
    // Porta 1
    portaModelos[1].fechada = await carregarModelo("Porta01Fechada.glb", scene);
    portaModelos[1].aberta = await carregarModelo("Porta01Aberta.glb", scene);
    portaModelos[1].aberta.setEnabled(false);
    
    // Porta 2
    portaModelos[2].fechada = await carregarModelo("Porta02Fechada.glb", scene);
    portaModelos[2].aberta = await carregarModelo("Porta02Aberta.glb", scene);
    portaModelos[2].aberta.setEnabled(false);
    
    // Porta 3
    portaModelos[3].fechada = await carregarModelo("Porta03Fechada.glb", scene);
    portaModelos[3].aberta = await carregarModelo("Porta03Aberta.glb", scene);
    portaModelos[3].aberta.setEnabled(false);
    

        // Pessoa 1
        pessoaModelos[1].mesh = await carregarModelo("Cliente01.glb", scene);
        pessoaModelos[1].mesh.setEnabled(false);
        pessoaModelos[1].visivel = false;
        
        // Pessoa 2
        pessoaModelos[2].mesh = await carregarModelo("Cliente02.glb", scene);
        pessoaModelos[2].mesh.setEnabled(false);
        pessoaModelos[2].visivel = false;
        
        // Pessoa 3
        pessoaModelos[3].mesh = await carregarModelo("Cliente03.glb", scene);
        pessoaModelos[3].mesh.setEnabled(false);
        pessoaModelos[3].visivel = false;
    }
    
    function togglePorta(index, a) {
        const porta = portaModelos[index];
        if (!porta.aberta || !porta.fechada) return;
        
        if (a == 1){
            porta.abertaAtiva = true;
        } else if (a == 0){
            porta.abertaAtiva = false;
        }
        porta.aberta.setEnabled(porta.abertaAtiva);
        porta.fechada.setEnabled(!porta.abertaAtiva);
    }
    
    function togglePessoa(index, presenca) {
        const registro = pessoaModelos[index];
        if (!registro.mesh) return;
        
        if (presenca === 1) {
            registro.visivel = true;
        } else if (presenca === 0) {
            registro.visivel = false;
        } else {
            registro.visivel = !registro.visivel;
        }
        
        registro.mesh.setEnabled(registro.visivel);
    }
    
    async function init() {
        try {
            engine = new BABYLON.Engine(canvas, true, {
                preserveDrawingBuffer: false,
                stencil: false,
                disableWebGL2Support: false
            });
            await createScene();
        } catch (ex) {
            alert("Erro ao criar a engine: " + ex.message || ex.toString());
        }
        
        window.addEventListener("resize", function () {
            engine.resize();
        });
        
        engine.runRenderLoop(function () {
            if (scene && scene.activeCamera) {
                scene.render();
            }
        });
        
    }
    window.addEventListener("load", init);
    
    
    async function atualizarPortas() {
        const p = await fetch("/atualizaPinguin");
        const pinguin = await p.json();
        console.log(pinguin[0]["Aberto"], pinguin[0]["Presente"], p.status);
        if (p.ok) {
            Swal.close();
        }
        if (p.status == 500) {
            Swal.fire("Erro", "Erro ao listar os dados: " + pinguin, "error");
            return;
        }
        if (pinguin[0]["Aberto"] == 1 && pinguin[0]["Presente"] == 1) {

            togglePessoa(2,1)
            togglePorta(2,0)

        } else if (pinguin[0]["Aberto"] == 0 && pinguin[0]["Presente"] == 1) {

            togglePorta(2, 1)
            togglePessoa(2, 1)

        } else if (pinguin[0]["Aberto"] == 1 && pinguin[0]["Presente"] == 0) {

            togglePorta(2, 0)
            togglePessoa(2, 0)

        } else if (pinguin[0]["Aberto"] == 0 && pinguin[0]["Presente"] == 0) {
            
            togglePorta(2, 1)
            togglePessoa(2, 0)
        } else {
            togglePorta(2, 0)
            togglePessoa(2, 0)
        }

        setTimeout(atualizarDadosGeral, 1000);
        setTimeout(atualizarPortas, 1000);
    }
    atualizarPortas();
    window.addEventListener("load", init);
</script>

<script type="text/javascript">
    "use strict";

    async function atualizarCliAtt() {
      //waitSwal();

      try {

        const response = await fetch(
          `/obterFluxoAtual`
        );

        if (!response.ok) {
          await exibirErro(response);
          return;
        }

        Swal.close();
        const dados = await response.json();

        if (dados[1] == 500) {
            Swal.fire("Erro", "Erro ao listar os dados: " + dados[0].message, "error");
        }
        
        const e = document.getElementById("resultado");
        
        e.innerHTML = Math.abs(dados) + ` clientes na loja`;

        setTimeout(atualizarCliAtt, 1000);

        
      } catch (ex) {
        Swal.fire("Erro", "Erro ao carregar o gráfico: " + ex.message, "error");
      }
    }

    atualizarCliAtt();
  </script>

{% endblock %}
