{% extends 'layout.html' %} {% block body %}

<div class="fundo-cinza-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid fundo-branco-borda-arredondada">
        <div class="row margin-row-interna">
          <div class="col-sm-4">
            <div class="card shadow my-4">
              <div class="card-body">
                <form id="form">
                  <div class="form-group">
                    <label for="data">Data</label>
                    <input
                      id="data"
                      name="data"
                      class="form-control"
                      type="date"
                      value="{{ hoje }}"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Listar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row margin-row-interna flex-space-evenly padding-left-right-row-integrantes margin-reduzida-row-integrantes"
        >
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/akemi.jpg"
                    alt="Foto Julia Mullis"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Julia <br />Mullis</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes"
                      ><a
                        href="https://www.linkedin.com/in/akemi-m/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                      ><a
                        href="https://github.com/akemi-m"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/theo.png"
                    alt="Foto Theo Gaspar"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Theo <br />Gaspar</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes"
                      ><a
                        href="https://www.linkedin.com/in/theo-gaspar/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                      ><a
                        href="https://github.com/tigasparzin"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  async function atualizarDados() {
    Swal.fire({
      title: "Carregando...",
      allowOutsideClick: false,
      didOpen: () => Swal.showLoading(),
    });

    try {
      let dataFinal = document.getElementById("data").value;
      let dataInicial = new Date(
        new Date(dataFinal).getTime() - 6 * 24 * 60 * 60 * 1000
      )
        .toISOString()
        .substring(0, 10);
      let response = await fetch(
        "/getPassagem?dataInicial=" +
          encodeURIComponent(dataInicial) +
          "&dataFinal=" +
          encodeURIComponent(dataFinal)
      );
      console.log(dataFinal);
      console.log(dataInicial);

      if (response.ok) {
        Swal.close();

        let dados = await response.json();
        if (!dados || !dados.length) {
          Swal.fire("Erro", "Sem dados na data especificada!", "error");
          return;
        }

        let menorRuido = Infinity;
        let maiorRuido = -Infinity;
        for (let i = 0; i < dados.length; i++) {
          if (menorRuido > dados[i].ruido) menorRuido = dados[i].ruido;
          if (maiorRuido < dados[i].ruido) maiorRuido = dados[i].ruido;
        }

        let delta = maiorRuido - menorRuido;
        for (let i = 0; i < dados.length; i++) {
          dados[i].ruido_normalizado =
            (100 * (dados[i].ruido - menorRuido)) / delta;
        }

        let dias = [];
        let ultimoDia = null;
        for (let i = 0; i < dados.length; i++) {
          if (ultimoDia !== dados[i].dia) {
            ultimoDia = dados[i].dia;
            dias.push(ultimoDia);
          }
        }

        //TABELA
        let html = [
          `<table class="table table-bordered"><thead><tr><th>Hora</th>`,
        ];
        for (let d = 0; d < dias.length; d++) {
          html.push(`<th>${dias[d]}</th>`);
        }
        html.push(`
                    </tr>
                    </thead>
                    <tbody>
                `);

        for (let h = 0; h <= 23; h++) {
          html.push(`<tr><td>${h}:00</td>`);
          for (let d = 0; d < dias.length; d++) {
            let ruido = 0;
            for (let i = 0; i < dados.length; i++) {
              if (dados[i].dia === dias[d] && dados[i].hora === h) {
                ruido = dados[i].ruido_normalizado;
                break;
              }
            }
            html.push(
              `<td style="background-color:rgba(113, 74, 152, ${
                ruido / 100
              });">${ruido.toFixed(1)}</td>`
            );
          }
          html.push(`</tr>`);
        }
        html.push(`</tbody></table>`);
        document.getElementById("div-grafico").innerHTML = html.join("");
      } else {
        const erro = await response.text();
        Swal.fire("Erro", erro, "error");
      }
    } catch (ex) {
      Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
    }
  }

  atualizarDados();
</script>

{% endblock %}
