{% extends 'layout.html' %} {% block body %}

<div class="fundo-cinza-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid fundo-branco-borda-arredondada">
        <div class="row margin-row-interna">
          <div class="col-lg-5">
            <h1>SOBRE NÓS</h1>
            <p class="formatacao-texto-sobre pt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
              porro, possimus ullam corrupti ipsa at nihil. Ipsam quod eos
              pariatur aut, quisquam quae repellendus vel nisi minus sequi
              perspiciatis fugit. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Dolores porro, possimus ullam corrupti ipsa at
              nihil. Ipsam quod eos pariatur aut, quisquam quae repellendus vel
              nisi minus sequi perspiciatis fugit.
            </p>
          </div>
          <div class="col-lg-7 centralizar">
            <img
              src="/static/img/pracegoler.png"
              alt="Placeholder"
              width="600px"
              class="fundo-branco-borda-arredondada"
            />
          </div>
        </div>
        <div
          class="row margin-row-interna flex-space-between padding-left-right-row-integrantes margin-reduzida-row-integrantes"
        >
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/alexandre.jpg"
                    alt="Foto Alexandre Martinelli"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Alexandre <br />Martinelli</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes">
                      <a
                        href="https://www.linkedin.com/in/alexandre-martinelli-32871a314/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                    >
                      <a
                        href="https://github.com/alexandremartinelli11"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/gabriel.png"
                    alt="Foto Gabriel Cardoso"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Gabriel <br />Cardoso</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes"
                      ><a
                        href="https://www.linkedin.com/in/gabrielccr/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                      ><a
                        href="https://github.com/gabrielccr-555"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/hugo.jpg"
                    alt="Foto Hugo Coscelli"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Hugo <br />Coscelli</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes"
                      ><a
                        href="https://www.linkedin.com/in/hugo-ferraz/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                      ><a
                        href="https://github.com/Z-Hugo-Ferraz"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row margin-row-interna flex-space-evenly padding-left-right-row-integrantes margin-reduzida-row-integrantes"
        >
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/akemi.jpg"
                    alt="Foto Julia Mullis"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Julia <br />Mullis</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes"
                      ><a
                        href="https://www.linkedin.com/in/akemi-m/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                      ><a
                        href="https://github.com/akemi-m"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 fundo-cinza-card margin-bottom-card padding-reduzido"
          >
            <div class="container-fluid padding-reduzido">
              <div class="row">
                <div class="col-7 flex-fotos">
                  <img
                    src="/static/img/theo.png"
                    alt="Foto Theo Gaspar"
                    width="200px"
                    class="foto-circular"
                  />
                </div>
                <div class="col-5">
                  <p class="tamanho-fonte-nomes padding-top-nomes">
                    <b>Theo <br />Gaspar</b>
                  </p>
                  <p
                    class="tamanho-fonte-redes padding-top-redes centralizar-img-e-texto"
                  >
                    <img
                      src="/static/svg/linkedin.svg"
                      alt="Ícone LinkedIn"
                    /><span class="padding-left-icones-redes"
                      ><a
                        href="https://www.linkedin.com/in/theo-gaspar/"
                        target="_blank"
                        class="cor-link-preto"
                        >LinkedIn</a
                      ></span
                    >
                  </p>
                  <p class="tamanho-fonte-redes centralizar-img-e-texto">
                    <img src="/static/svg/github.svg" alt="Ícone GitHub" /><span
                      class="padding-left-icones-redes"
                      ><a
                        href="https://github.com/tigasparzin"
                        target="_blank"
                        class="cor-link-preto"
                        >GitHub</a
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
