<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <link rel="icon" href="/static/img/v1-g.png" type="image/x-icon" />
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if titulo %}
    <title>{{ titulo }} - Mercadinho</title>
    {% else %}
    <title>Mercadinho</title>
    {% endif %}

    <!--
		https://getbootstrap.com/docs/4.6/getting-started/introduction/
	-->

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/lib/fontawesome-free/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/sweetalert2.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/bootstrap.bundle.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/sweetalert2.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/jquery-validate/jquery.validate.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/js/jquery-validate/additional-methods.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/js/chart.js/chart.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/projeto.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-light toggled accordion d-none d-md-flex"
        id="accordionSidebar"
      >
        <li class="nav-item text-center p-3">
          <!-- style="max-width: 100%" tamanho adaptado de acordo com a barra -->
          <img src="/static/img/v1-g.png" width="100px" />
        </li>

        <hr class="sidebar-divider my-0" />

        <!-- Para deixar sempre em destaque, basta adicionar a classe active -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Overview</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/digitalTwin">
            <i class="fas fa-solid fa-cube"></i>
            <span>Digital Twin</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-solid fa-file-export"></i>
            <span>Relatório</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/sobre">
            <i class="fas fa-solid fa-address-card"></i>
            <span>Sobre nós</span>
          </a>
        </li>

        <!-- essa é a versão que você clica e aparecem outras opções para escolher -->
        <!-- <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePredio"
            aria-expanded="true"
            aria-controls="collapsePredio"
          >
            <i class="fas fa-vr-cardboard"></i>
            <span>Tours</span>
          </a>
          <div
            id="collapsePredio"
            class="collapse"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="<%- root %>/tour/criar">Criar</a>
              <a class="collapse-item" href="<%- root %>/tour/listar"
                >Gerenciar</a
              >
            </div>
          </div>
        </li> -->

        <hr class="sidebar-divider d-none d-md-block" />

        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!--
            Barra padrão do Bootstrap

            https://getbootstrap.com/docs/4.6/components/navbar/
          -->
          <nav
            class="navbar navbar-expand navbar-dark bg-secondary topbar static-top shadow"
          >
            <button
              type="button"
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- include("topbar-search") -->

            <ul class="navbar-nav ml-auto">
              <!-- include("topbar-extra") -->

              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-md-inline cor-ola-usuario small"
                    >Olá, usuário</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="/static/img/pingu.jpg"
                  />
                </a>

                <div
                  class="dropdown-menu dropdown-menu-right animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="/">
                    <i class="fas fa-user fa-sm fa-fw mr-2 op-40"></i>
                    Perfil
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 op-40"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>

          <div class="limitador fundo-cinza">
            <div class="conteudo fundo-cinza">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>

        <div class="rodape">
          <a
            class="link-rodape"
            href="https://sistemasdeinformacao.espm.edu.br"
            target="_blank"
          >
            <small
              >Desenvolvido em 2025 pelo curso de Sistemas de Informação da
              ESPM</small
            >
            <br />
            <img
              src="/static/img/logo-si-512.png"
              style="width: 100%; max-width: 150px"
            />
          </a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/static/js/admin.js"></script>

    {% block rodape %}{% endblock %}
  </body>
</html>
